<%= bootstrap_form_for(team_member, layout: :horizontal) do |f| %>
  <% if team_member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team_member.errors.count, "error") %> prohibited this team_member from being saved:</h2>
      <ul>
      <% @team_member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div style="padding-top:20px">
    <div class="field">
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.text_field :email %>
    </div>
    
    <div class="export">
      <label>Export Instructions</label><br>
      <span class="btn btn-small btn-default" data-toggle="modal" data-target="#ical">iCalendar</span>
      <span class="btn btn-small btn-default" data-toggle="modal" data-target="#google">Google</span>
    </div>

    <div class="field">
      <%= f.hidden_field :meeting_id, value: @meeting.id %>
    </div>
    <div class="field">
      <center><%= f.file_field :file %></center>
    </div>
    <span style="font-size:0.9em; font-weight:bold;">We respect your privacy. We will not store personal information from your calendar.</span>
    <div class="actions">
      </br>
      <%= f.submit "Upload Schedule", class: 'btn btn-small btn-default' %>
    </div>
  </div>
<% end %>

<!-- iCalendar export instructions -->
<div id="ical" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="iCalendar Export" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      </br>
      <h4 class="modal-title" id="gridModalLabel">iCalendar Export Instructions</h4>
      </br>
        <ol style="width:20%;margin:auto;">
          <li>Open iCalendar</li>
          <li>Click on Calendar</li>
          <li>File > Export</li>
        </ol>
        <br><br>
    </div>
  </div>
</div>

<!-- Google calendar export instructions -->
<div id="google" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Google Export" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      </br>
      <h4 class="modal-title" id="gridModalLabel">Google Calendar Export Instructions</h4>
      </br>
        <ol style="width:20%;margin:auto;">
          <li>Open Google Calendar</li>
          <li>Click on Calendar</li>
          <li>Calendar Settings</li>
          <li>Export this Calendar</li>
        </ol>
        <br><br>
    </div>
  </div>
</div>
