<%= bootstrap_form_for(team_member, layout: :horizontal) do |f| %>
  <% if team_member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team_member.errors.count, "error") %> prohibited this team_member from being saved:</h2>
      <ul>
      <% @team_member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div style="padding-top:20px">
    <div class="field">
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.text_field :email %>
    </div>
    
    <div class="export">
      <label>Export Instructions</label><br>
      <a class="btn btn-small btn-default" href="#">iCalendar</a>
      <a class="btn btn-small btn-default" href="#">Google</a>
    </div>

    <div class="field">
      <%= f.hidden_field :meeting_id, value: @meeting.id %>
    </div>
    <div class="field">
      <center><%= f.file_field :file %></center>
    </div>
    <span style="font-size:0.9em; font-weight:bold;">We respect your privacy. We will not store personal information from your calendar.</span>
    <div class="actions">
      </br>
      <%= f.submit "Upload Schedule", class: 'btn btn-small btn-default' %>
    </div>
  </div>
<% end %>
