
<h2 class = "upload-header">Upload Schedule</h2>
<%= bootstrap_form_for(team_member, layout: :horizontal) do |f| %>
  <% if team_member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team_member.errors.count, "error") %> prohibited this team_member from being saved:</h2>
      <ul>
      <% @team_member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div style="padding-top:20px">
    <div class="field">
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.hidden_field :meeting_id, value: @meeting.id %>
    </div>
    <div class="field">
      <center><%= f.file_field :file %></center>
    </div>
    <div class="actions">
      </br>
      <%= f.submit 'Upload', class: 'btn btn-lg btn-upload' %>
    </div>
  </div>
<% end %>
