<p id="notice"><%= notice %></p>
</br>
</br>

  <%= form_tag uploader_path, :method => 'get', :html =>  { multipart: true } do %>
    <%= hidden_field_tag :id, params[:id] %>
  <center><%= file_field_tag "file" %></center>
  </br>
    <%= button_tag(type: 'submit') do %>
  <i class="icon-ok icon-white"></i> Upload Schedule
  <% end %>
  <% end %>

<%= link_to 'Edit', edit_team_member_path(@team_member) %> |
<%= link_to 'Back', team_members_path %>

</br>
<%=@events%></br>
	<% @events.each do |value| %>
		<%= value %></br>
	<% end %>