<p id="notice"><%= notice %></p>
<% if !@events.nil? %>
	<% @events.each do |key, value| %>
		<strong><%= key %></strong>: <%= value %> <br>
	<% end %>
<% end %>
<p>
  <strong>Name:</strong>
  <%= @team_member.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @team_member.email %>
</p>

<p>
  <strong>Meeting:</strong>
  <%= @team_member.meeting_id %>
</p>

<%= form_tag uploader_path, :method => 'get', :html =>  { multipart: true } do %>
  <%= hidden_field_tag :id, params[:id] %>
  <label for="file">Select a calendar</label><%= file_field_tag "file" %>
  <%= submit_tag 'Upload'%>
<% end %>

<%= link_to 'Edit', edit_team_member_path(@team_member) %> |
<%= link_to 'Back', team_members_path %>
