<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team_member.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @team_member.email %>
</p>

<p>
  <strong>Meeting:</strong>
  <%= @team_member.meeting_id %>
</p>

<%= link_to 'Edit', edit_team_member_path(@team_member) %> |
<%= link_to 'Back', team_members_path %>
