<!-- Custom CSS -->
<link href="css/scrolling-nav.css" rel="stylesheet">
<section id="intro"></section>

<!-- hero -->
<div id="get-started">
  <title>Schedule Smasher</title>
  <div class="home-container">
    <div class="cover-container valign-wrapper">
      <div class="inner cover valign">
        <h1 class="cover-heading">SCHEDULE SMASHER</h1></br>
        <p class="lead"><b>Plan and organize common meeting times</b></p></br>
        <div class="form-container">
          <%= render 'meetings/form' %>
        </div>
        </br><br> 
      </div>
    </div>
    </br></br>
  </div>
</div>

<!-- How it works section -->
<div id="how-it-works" class="how-container">
  <div class="container">
    <h1>How It Works</h1>
    <div class="row">
      <div class="col-sm-3 col-xs-12">
          <span><%= image_tag("Picture1.png") %></span>
          <p>Create A New <br>Meeting Request</p>
      </div>
      <div class="col-sm-3 col-xs-12">
          <span><%= image_tag("Picture2.png") %></span>
          <p>Share <br>Participation URL</p>
      </div>
      <div class="col-sm-3 col-xs-12">
          <span><%= image_tag("Picture3.png") %></span>
          <p>Upload Your<br> Schedule</p>
      </div>
      <div class="col-sm-3 col-xs-12">
          <span><%= image_tag("Picture4.png") %></span>
          <p>View Smashed Schedule</p>
      </div>
    </div>
  </div>
</div>


<!--About-->
<!-- About Section -->
<div id="about" class="about-container">
  <section id="about" class="about-section">
    <div class="container">
      <h1>About Schedule Smasher</h1>
      <div class="row">
        <div class="col-md-6">
          <h4>We Respect Your Privacy</h4>
          <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at efficitur tortor. Integer metus tellus, convallis id cursus id, tristique nec sem. Mauris luctus erat at erat molestie, id luctus turpis tempus. Donec lorem lectus, rutrum eu rutrum ac, dapibus ut lectus. Donec gravida porta tincidunt. Sed risus libero, cursus quis velit vulputate, euismod vestibulum metus. Curabitur in eleifend tellus.
          </p>
        </div>
        <div class="col-md-6">
          <h4>We Are Listening</h4>
          <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at efficitur tortor. Integer metus tellus, convallis id cursus id, tristique nec sem. Mauris luctus erat at erat molestie, id luctus turpis tempus. Donec lorem lectus, rutrum eu rutrum ac, dapibus ut lectus. Donec gravida porta tincidunt. Sed risus libero, cursus quis velit vulputate, euismod vestibulum metus. Curabitur in eleifend tellus.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Scrolling Nav JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/scrolling-nav.js"></script>